
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/MyContent/css")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
